Django==5.0.4
django-html==0.1.0
django-phonenumber-field==7.3.0
psycopg2-binary==2.9.9
phonenumbers==8.12.53
requests==2.27.1
requests-toolbelt==0.9.1
beautifulsoup4==4.12.2
selenium==4.21.0
python-dotenv==1.0.1