<!DOCTYPE html>
{% load static %}


<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">

    <title>
        Giftos
    </title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- contact section -->

    <!-- for flash messages -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- for flash messages -->

    {% block nav %}
    <!-- header section strats -->
    <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container " id="topnav">
            <a class="navbar-brand" href="{% url ' Home' %}">
                <span>
                    Giftos
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class=""></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url ' Home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Shop' %}">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Why_us' %}">
                            Why Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Testimonial' %}">
                            Testimonial
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Contact' %}">Contact Us</a>
                    </li>
                </ul>
                <div class="user_option">
                    <!-- <a href="">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Login
              </span>
            </a> -->
                    <a href="{% url 'Shop' %}">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>

                    <button class="btn nav_search-btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <form class="form-inline" method="post" action="{% url 'Product' %}">
                        {% csrf_token %}
                        <input type="text" class="search-input" placeholder="Search..." name="search">
                        <button name="find" type="submit" id="search">Search</button>
                    </form>

                    <!-- style for button -->
                    <style>
                        .form-inline {
                            display: none;
                        }
                    </style>
                    <!-- end style -->

                    <!-- the javascript -->

                </div>
            </div>
        </nav>
    </header>
    {% endblock %}

    <style>
        .form-inline {
            display: none;
        }
    </style>
    <script>
        // search bar
        document.addEventListener("DOMContentLoaded", function () {
            const searchBtn = document.querySelector(".nav_search-btn");
            const searchInput = document.querySelector(".form-inline");
            var find = document.querySelector("#search")
            var input = document.querySelector(".search-input")
            // When search Icon is clicked
            searchBtn.addEventListener("click", function () {
                // Toggle visibility of the search input when the button is clicked
                searchInput.style.display = (searchInput.style.display === "block") ? "none" : "block";
            });
            // when search buttton is clicked
            // find.addEventListener("click", function () {
            //   const query = input.value.trim(); // Get the search query from the input field
            //   if (query) {
            //     window.location.href = `/search/?find=${query}`; // Redirect to the search view with the query
            //   }
            // });

        });
    </script>
    <!-- Success/error messages -->

    {% for mess in messages %}
    {% if mess.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        {{mess}}
    </div>
    {% endif %}
    {% endfor %}
    <!-- if there are errors -->
    {% for error in messages %}
    {% if error.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    {% endfor %}

    <!-- content block -->
    {% block content %}
<!-- contact -->
    <section class="contact_section layout_padding">
        <!-- if there are no errors -->
        <div class="container px-0">
            <div class="heading_container ">
                <h2 class="">
                    Contact Us
                </h2>
            </div>
        </div>

        <div class="container container-bg">
            <div class="row">
                <div class="col-lg-7 col-md-6 px-0">
                    <div class="map_container">
                        <div class="map-responsive">
                            <iframe
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 px-0">
                    <form method="post">
                        {% for error in cont_err %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% csrf_token %}
                        <div>
                            <input type="text" placeholder="Name" name="name" value="{{ name }}" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" name="email" value="{{ email }}" />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone" name="phone" value="{{ phone }}" />
                        </div>
                        <div>
                            <textarea name="message" placeholder="message" value="{{ message }}" class="message-box"
                                cols="30" rows="10" style="width: 100%;"></textarea>
                        </div>
                        <div class="d-flex ">
                            <button name="contact">
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
    <!-- for flash messages -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- for flash messages -->


    <!-- info section -->

    <section class="info_section  layout_padding2-top">
        <div class="social_container">
            <div class="social_box">
                <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="info_container ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            ABOUT US
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit
                            amet,
                            consectetur
                            adipiscing elit, sed doLorem ipsum dolor sit amet,
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="info_form ">
                            <h5>
                                Newsletter
                            </h5>

                            <form method="post" action="">
                                {% if form_err %}

                                {% for err in form_err %}

                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ err }}
                                    <button type="button" class="btn-close"
                                        style="background: transparent; color: black;" data-bs-dismiss="alert"
                                        aria-label="Close"><strong><big>X</big></strong></button>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                                <input type="email" placeholder="Enter your email" name="email" value="{{mail}}">
                                <button name="subscribe">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            NEED HELP
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit
                            amet,
                            consectetur
                            adipiscing elit, sed doLorem ipsum dolor sit amet,
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            CONTACT US
                        </h6>
                        <div class="info_link-box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span> Gb road 123 london Uk </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>+01 12345678901</span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span> demo@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer section  -->
        <footer class=" footer_section">
            <div class="container">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a>
                </p>
            </div>
        </footer>
        <!-- footer section  -->

    </section>

    <!-- end info section -->


    <!-- <script src="../static/js/jquery-3.4.1.min.js"></script> -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>