{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    {% block content %}
    <center>
        <br><br>
        <h1>
            {% if query %}
            You searched for {{query}}
            {% else %}
            You didn't type anything
            {% endif %}
        </h1>
        <br><br><br><br>
    </center>
    {% endblock %}
</body>

</html>